@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');

body {
    font-family: 'Karla', sans-serif;
    background-color: #111115;
    height: 100vh;
}

/* Menu */
 
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    /* letter-spacing: 3px; */
    margin-left: 32px;
  }

  .nav-link {
    margin-right: 40px;
    transition: 0.3s;
    color: #fff;
    font-weight: bold;
  }

  .default-button {
    padding: 10px 20px;
    width: 95px;
    height: 36px;
    background: #FFBA08;
    border-radius: 50px;
    color: #111115;
    font-weight: bold;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .nav-link {
      margin-right: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }


  main {
    width: 65%;
    margin: 0 auto;
    margin-top: 50px;
  }

  /* Banner Section */

  .banner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0; 
  }

  .banner-section-title {
    margin-top: 80px;
    width: 90%;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  /* Spotlight Section */

  .spotlight, 
  .projectNovels {
    width: 65vw;
  }

  .spotlight-title, 
  .projectNovels-title {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
  }

  .spotlight-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
  }

  .projectNovels-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

  .projectNovel-group-image {
    width: 300px;
  }

  .spotlight-group-image {
    width: 100px;
  }

  .atualization {
    width: 100%;
  }

  .atualization-table {
    width: 100%;
    margin-top: 50px;
  }

  .atualization-table-thead-tr {
    border-bottom: 1px solid #FFBA08;
  }

  .atualization-table-thead-tr-title:nth-child(1) {
    width: 40%;
  }

  .atualization-table-thead-tr-title:nth-child(2) {
    width: 30%;
  }

  .atualization-table-thead-tr-title:nth-child(3) {
    width: 20%;
  }

  .atualization-table-thead-tr-title {
    text-align: left;
    padding-bottom: 5px;
    color: white;
  }

  .atualization-table-tbody > tr:nth-child(2n) {
    background-color: #23232e;
    cursor: pointer;
  }

  .atualization-table-tbody-tr-text {
    color: white;
    opacity: 0.7;
    padding: 5px 0;
  }

  /* .atualization-table-tbody-tr:hover {
    border-bottom: 1px solid #FFBA08; 
  } */

  /* LOGIN */

  .login-wrap {
    width: 400px;
    height: 500px;
		position:absolute;
		left:50%;
		top:50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
  }

  .login-form {
    padding: 50px;
  }

  .login-form-title {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
  }

  .login-field-wrap {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .login-form-input {
    height: 40px;
    padding-left: 5px;
    font-size: 18px;
  }

  .login-form-button {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 300px;
    height: 40px;
    background-color: #FFBA08;
    color: #111115;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }

  .login-form-button:hover {
    opacity: 0.7;
  }
  .login-form-forget {
    color: #111115;
    text-decoration: none;
  }

  .register-wrap {
    width: 400px;
    height: 700px;
		position:absolute;
		left:50%;
		top:45%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
  }

  .error-message {
    color: red;
  }

 /* Bloco Form */

 .form-base {
   /* width: 1000px; */
   width: 100%;
   background-color: #fff;
   box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;
   border-radius: 10px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .form-base-title {
   font-size: 22px;
   color: #23232e;
   padding: 20px 10px 10px 20px;
   text-align: center;
 }

 .form-base-fieldset {
   /* border: 1px solid red; */
   padding: 10px;
   display: flex;
   flex-direction: column;
   width: 70%;
   
 }

 .form-base-fieldset-input {
   border: 1px solid #23232e;
   border-radius: 4px;
   /* width: 500px; */
   width: 100%;
   padding: 10px;
 }

 .form-base-fieldset-input:focus {
   border: 1px solid #FFBA08;
 }

 .form-base-fieldset-input-img {
  border-radius: 4px;
  width: 100%;
 }

 .form-base-button {
   background: #FFBA08 !important;
   border-radius: 4px;
   width: 30%;
   height: 40px;
   margin: 20px 0;
 }

 .form-base-button:hover {
  opacity: 0.7;
 }


 /* SHOW Novel */

 .show-banner {
  width: 100%;
  display: flex;
  justify-content: space-between;
 }

 .show-banner-img {
  /* border: 1px solid red; */
  width: 30%;
  margin-right: 10px;
 }

 .show-banner-img img {
  width: 300px;
 }

 .show-novelInfo {
  width: 70%;
  color:white;
  display: flex;
  flex-direction: column;
  gap: 10px;
 }

 .show-novelInfo-addons {
  display: flex;
  gap: 10px;
 }

 .show-novelInfo-title {
  font-size: 34px;
  font-weight: bold;
 }

 .show-buttonList-favorite {
  height: 100%;
  font-size: 24px;
 }

 .show-buttonList-firstChapter {
  width: 150px;
  padding: 5px 2px;
  border-radius: 4px;
  text-align: center;
  color: #23232e;
  font-weight: bold;
  background-color: #FFBA08;
 }

 .show-novelInfo-h4 {
  font-size: 24px;
  font-weight: bold;
 }


 /* Novels Nacionality */

 .button-Chinesa {
  padding: 5px 2px;
  border-radius: 4px;
  color: white;
  background-color: #E92D2D;
 }

 .button-Japonesa {
  padding: 5px 2px;
  border-radius: 4px;
  color: black;
  background-color: white;
 }

 .button-Brasileira {
  padding: 5px 2px;
  border-radius: 4px;
  color: black;
  background-color: greenyellow;
 }

 .button-Americana {
  padding: 5px 2px;
  border-radius: 4px;
  color: white;
  background-color: blue;
 }


.default-color-button {
  color: #FFBA08;
}
